.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.919000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.919000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.979000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.999000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.931000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.923000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:0.919000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:0.919000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:0.919000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffe;src:url(fe.woff)format("woff");}.ffe{font-family:ffe;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:fff;src:url(ff.woff)format("woff");}.fff{font-family:fff;line-height:0.919000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff10;src:url(f10.woff)format("woff");}.ff10{font-family:ff10;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff11;src:url(f11.woff)format("woff");}.ff11{font-family:ff11;line-height:0.919000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff12;src:url(f12.woff)format("woff");}.ff12{font-family:ff12;line-height:0.999000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff13;src:url(f13.woff)format("woff");}.ff13{font-family:ff13;line-height:0.919000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff14;src:url(f14.woff)format("woff");}.ff14{font-family:ff14;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff15;src:url(f15.woff)format("woff");}.ff15{font-family:ff15;line-height:0.979000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff16;src:url(f16.woff)format("woff");}.ff16{font-family:ff16;line-height:0.999000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff17;src:url(f17.woff)format("woff");}.ff17{font-family:ff17;line-height:0.923000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff18;src:url(f18.woff)format("woff");}.ff18{font-family:ff18;line-height:0.931000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff19;src:url(f19.woff)format("woff");}.ff19{font-family:ff19;line-height:0.919000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1a;src:url(f1a.woff)format("woff");}.ff1a{font-family:ff1a;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1b;src:url(f1b.woff)format("woff");}.ff1b{font-family:ff1b;line-height:0.919000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1c;src:url(f1c.woff)format("woff");}.ff1c{font-family:ff1c;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1d;src:url(f1d.woff)format("woff");}.ff1d{font-family:ff1d;line-height:0.919000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1e;src:url(f1e.woff)format("woff");}.ff1e{font-family:ff1e;line-height:0.999000;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-ms-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-webkit-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);}
.m2{transform:matrix(0.249323,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249323,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249323,0.000000,0.000000,0.250000,0,0);}
.m3{transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-1.605533px;}
.ls5{letter-spacing:-0.395885px;}
.ls0{letter-spacing:0.000000px;}
.ls2{letter-spacing:2.501408px;}
.ls3{letter-spacing:3.408000px;}
.ls1{letter-spacing:4.690140px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-4.690140px;}
.ws3{word-spacing:-3.408000px;}
.ws2{word-spacing:-2.501408px;}
.ws5{word-spacing:-0.070352px;}
.ws0{word-spacing:0.000000px;}
.ws4{word-spacing:1.605533px;}
._5{margin-left:-3.250262px;}
._2{margin-left:-1.254016px;}
._0{width:2.501408px;}
._1{width:4.690140px;}
._3{width:132.401472px;}
._4{width:2699.670413px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:21.993600px;}
.fs4{font-size:27.112800px;}
.fsb{font-size:27.359200px;}
.fs1{font-size:31.267600px;}
.fs6{font-size:35.176000px;}
.fs5{font-size:39.084400px;}
.fs8{font-size:42.992800px;}
.fs7{font-size:54.718400px;}
.fs2{font-size:68.160000px;}
.fsc{font-size:78.168800px;}
.fsa{font-size:93.802800px;}
.fs0{font-size:117.253600px;}
.fs9{font-size:156.338000px;}
.y31{bottom:-672.096158px;}
.y2e{bottom:-636.770674px;}
.y2d{bottom:-626.996600px;}
.y2c{bottom:-606.479100px;}
.y30{bottom:-116.283300px;}
.y0{bottom:0.000000px;}
.y3{bottom:23.347700px;}
.y5{bottom:25.042000px;}
.y6{bottom:26.599115px;}
.y2f{bottom:29.440300px;}
.y4{bottom:33.180700px;}
.y22{bottom:46.511842px;}
.y2{bottom:46.513100px;}
.y1e{bottom:81.837326px;}
.y1d{bottom:91.611400px;}
.y1c{bottom:112.128900px;}
.y2a{bottom:156.946636px;}
.y13{bottom:160.863940px;}
.y29{bottom:170.630100px;}
.y12{bottom:176.499672px;}
.y28{bottom:184.313564px;}
.y11{bottom:192.135404px;}
.y27{bottom:197.997028px;}
.y10{bottom:207.771136px;}
.yf{bottom:223.406868px;}
.ye{bottom:239.042600px;}
.y1a{bottom:307.402400px;}
.y19{bottom:343.552600px;}
.y18{bottom:382.637100px;}
.yd{bottom:455.815240px;}
.yc{bottom:471.449000px;}
.yb{bottom:487.082760px;}
.ya{bottom:502.716520px;}
.y9{bottom:518.350280px;}
.y8{bottom:533.984040px;}
.y7{bottom:549.617800px;}
.y21{bottom:602.324700px;}
.y17{bottom:608.138541px;}
.y16{bottom:621.821000px;}
.y15{bottom:645.951934px;}
.y26{bottom:647.986008px;}
.y25{bottom:661.669472px;}
.y14{bottom:663.543900px;}
.y24{bottom:675.352936px;}
.y23{bottom:689.036400px;}
.y2b{bottom:718.608000px;}
.y1b{bottom:720.673000px;}
.y1f{bottom:728.717800px;}
.y1{bottom:738.072100px;}
.y20{bottom:748.048300px;}
.h5{height:16.011942px;}
.h12{height:19.534469px;}
.h6{height:19.765337px;}
.h13{height:21.504331px;}
.h11{height:22.325066px;}
.h3{height:24.576334px;}
.hb{height:25.115664px;}
.ha{height:25.397072px;}
.h15{height:27.085520px;}
.h16{height:27.648336px;}
.h8{height:30.094988px;}
.h9{height:30.720338px;}
.hd{height:31.040802px;}
.hc{height:39.506685px;}
.h17{height:48.932000px;}
.h4{height:49.622344px;}
.h14{height:61.440677px;}
.hf{height:66.975199px;}
.h10{height:83.719070px;}
.h2{height:92.161330px;}
.he{height:111.625332px;}
.h1{height:724.500000px;}
.h7{height:742.500000px;}
.h0{height:822.047000px;}
.w2{width:124.427000px;}
.w0{width:1106.930000px;}
.w1{width:1107.000000px;}
.x13{left:-116.307600px;}
.x0{left:0.000000px;}
.x15{left:9.430100px;}
.x2{left:27.697700px;}
.xa{left:55.395300px;}
.x4{left:57.898400px;}
.x1{left:96.941800px;}
.xb{left:163.416200px;}
.x12{left:212.763000px;}
.x6{left:222.284200px;}
.x14{left:247.599500px;}
.x5{left:313.099100px;}
.x16{left:320.448100px;}
.x11{left:363.621126px;}
.x8{left:404.361800px;}
.xf{left:441.807600px;}
.x10{left:443.838300px;}
.x9{left:578.719200px;}
.xc{left:649.917300px;}
.xe{left:775.655000px;}
.xd{left:801.061400px;}
.x7{left:964.821385px;}
.x3{left:1086.852700px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-2.140710pt;}
.ls5{letter-spacing:-0.527846pt;}
.ls0{letter-spacing:0.000000pt;}
.ls2{letter-spacing:3.335211pt;}
.ls3{letter-spacing:4.544000pt;}
.ls1{letter-spacing:6.253520pt;}
.ws1{word-spacing:-6.253520pt;}
.ws3{word-spacing:-4.544000pt;}
.ws2{word-spacing:-3.335211pt;}
.ws5{word-spacing:-0.093803pt;}
.ws0{word-spacing:0.000000pt;}
.ws4{word-spacing:2.140710pt;}
._5{margin-left:-4.333683pt;}
._2{margin-left:-1.672021pt;}
._0{width:3.335211pt;}
._1{width:6.253520pt;}
._3{width:176.535296pt;}
._4{width:3599.560550pt;}
.fs3{font-size:29.324800pt;}
.fs4{font-size:36.150400pt;}
.fsb{font-size:36.478933pt;}
.fs1{font-size:41.690133pt;}
.fs6{font-size:46.901333pt;}
.fs5{font-size:52.112533pt;}
.fs8{font-size:57.323733pt;}
.fs7{font-size:72.957867pt;}
.fs2{font-size:90.880000pt;}
.fsc{font-size:104.225067pt;}
.fsa{font-size:125.070400pt;}
.fs0{font-size:156.338133pt;}
.fs9{font-size:208.450667pt;}
.y31{bottom:-896.128210pt;}
.y2e{bottom:-849.027566pt;}
.y2d{bottom:-835.995467pt;}
.y2c{bottom:-808.638800pt;}
.y30{bottom:-155.044400pt;}
.y0{bottom:0.000000pt;}
.y3{bottom:31.130267pt;}
.y5{bottom:33.389333pt;}
.y6{bottom:35.465487pt;}
.y2f{bottom:39.253733pt;}
.y4{bottom:44.240933pt;}
.y22{bottom:62.015790pt;}
.y2{bottom:62.017467pt;}
.y1e{bottom:109.116434pt;}
.y1d{bottom:122.148533pt;}
.y1c{bottom:149.505200pt;}
.y2a{bottom:209.262181pt;}
.y13{bottom:214.485253pt;}
.y29{bottom:227.506800pt;}
.y12{bottom:235.332896pt;}
.y28{bottom:245.751419pt;}
.y11{bottom:256.180539pt;}
.y27{bottom:263.996037pt;}
.y10{bottom:277.028181pt;}
.yf{bottom:297.875824pt;}
.ye{bottom:318.723467pt;}
.y1a{bottom:409.869867pt;}
.y19{bottom:458.070133pt;}
.y18{bottom:510.182800pt;}
.yd{bottom:607.753653pt;}
.yc{bottom:628.598667pt;}
.yb{bottom:649.443680pt;}
.ya{bottom:670.288693pt;}
.y9{bottom:691.133707pt;}
.y8{bottom:711.978720pt;}
.y7{bottom:732.823733pt;}
.y21{bottom:803.099600pt;}
.y17{bottom:810.851389pt;}
.y16{bottom:829.094667pt;}
.y15{bottom:861.269246pt;}
.y26{bottom:863.981344pt;}
.y25{bottom:882.225963pt;}
.y14{bottom:884.725200pt;}
.y24{bottom:900.470581pt;}
.y23{bottom:918.715200pt;}
.y2b{bottom:958.144000pt;}
.y1b{bottom:960.897333pt;}
.y1f{bottom:971.623733pt;}
.y1{bottom:984.096133pt;}
.y20{bottom:997.397733pt;}
.h5{height:21.349256pt;}
.h12{height:26.045958pt;}
.h6{height:26.353783pt;}
.h13{height:28.672442pt;}
.h11{height:29.766755pt;}
.h3{height:32.768445pt;}
.hb{height:33.487552pt;}
.ha{height:33.862763pt;}
.h15{height:36.114027pt;}
.h16{height:36.864448pt;}
.h8{height:40.126651pt;}
.h9{height:40.960451pt;}
.hd{height:41.387735pt;}
.hc{height:52.675580pt;}
.h17{height:65.242667pt;}
.h4{height:66.163125pt;}
.h14{height:81.920902pt;}
.hf{height:89.300266pt;}
.h10{height:111.625427pt;}
.h2{height:122.881773pt;}
.he{height:148.833776pt;}
.h1{height:966.000000pt;}
.h7{height:990.000000pt;}
.h0{height:1096.062667pt;}
.w2{width:165.902667pt;}
.w0{width:1475.906667pt;}
.w1{width:1476.000000pt;}
.x13{left:-155.076800pt;}
.x0{left:0.000000pt;}
.x15{left:12.573467pt;}
.x2{left:36.930267pt;}
.xa{left:73.860400pt;}
.x4{left:77.197867pt;}
.x1{left:129.255733pt;}
.xb{left:217.888267pt;}
.x12{left:283.684000pt;}
.x6{left:296.378933pt;}
.x14{left:330.132667pt;}
.x5{left:417.465467pt;}
.x16{left:427.264133pt;}
.x11{left:484.828167pt;}
.x8{left:539.149067pt;}
.xf{left:589.076800pt;}
.x10{left:591.784400pt;}
.x9{left:771.625600pt;}
.xc{left:866.556400pt;}
.xe{left:1034.206667pt;}
.xd{left:1068.081867pt;}
.x7{left:1286.428514pt;}
.x3{left:1449.136933pt;}
}
